<div class="panel panel-default ecenter" style="width: 75%">
	<h4 class="center">Quick Statistics</h4>
</div>

<h5 class="center">Rating stats</h5>
<table class="table table-bordered ecenter" style="width: 50%;">
	<thead>
		<th>Category</th>
		<th></th>
	</thead>
	<tbody>
		<tr>
			<td>Total number of ratings:</td>
			<td><%= @numRatings %></td>
		</tr>
		<tr>
			<td>Total number of users:</td>
			<td><%= @numUsers %></td>
		</tr>
		<tr>
			<td>Average ratings per user:</td>
			<td><%= @avgnumRatings %></td>
		</tr>
		<tr>
			<td>Average sign-ins per user:</td>
			<td><%= @numSignins %></td>
		</tr>
		<tr>
			<td>Average class rating:</td>
			<td><%= @avgRating %></td>
		</tr>
    <tr>
      <td>Number of classes with more than one rating:</td>
      <td><%= @moreThanOneRating %></td>
    </tr>
    <tr>
      <td>Percentage of total classes with more than one rating:</td>
      <td><%= @percentageRated %> %</td>
    </tr>
	</tbody>
</table>

<hr>

<h5 class="center">Recent user info</h5>
<table class="table table-bordered ecenter" style="width: 50%;">
  <thead>
    <tr>
    	<th>ID</th>
      <th>User</th>
      <th>Registration date</th>
      <th>Email</th>
      <th># Ratings</th>
    </tr>
  </thead>
  <tbody>
    <% @recentUsers.each do |recentuser| %>
      <tr>
      	<td><%= recentuser.id %></td>
        <td><%= recentuser.name %></td>
        <td><%= recentuser.created_at.to_date %></td>
        <td><%= recentuser.email %></td>
        <td><%= recentuser.ratings.count %></td>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 center">
    <%= link_to "Users by Registration Date", usersbycreated_path %>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 center">
    <%= link_to "All Users", allusers_path %>
  </div>
</div>

<hr>

<h5 class="center">Recent rating info</h5>
<table class="table table-bordered ecenter" style="width: 50%;">
  <thead>
    <tr>
      <th>User</th>
      <th>Class</th>
      <th>Rating</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @recentRatings.each do |recentrating| %>
      <tr>
        <td><%= User.find(recentrating.user_id).name %></td>
        <td><%= recentrating.prefix %><%= recentrating.course_number %></td>
        <td><%= recentrating.rating %></td>
        <td><%= recentrating.created_at.to_date %></td>
    <% end %>
  </tbody>
</table>

<hr>
<% if user_signed_in? && current_user.id == 1 %>
  <div class="alert alert-danger center col-lg-offset-3 col-lg-offset-3 col-md-offset-3 col-sm-6 col-md-6 col-sm-6 col-xs-12">
    <h3>Database modification tools</h3>
    <p>If you are on the production site and you aren't 100% sure that you know what you are doing by pressing these buttons, please do not press either of these buttons.  It could mess a lot of things up.</p>
    <br>
    <% if user_signed_in? && current_user.id == 1 %>
      <%= link_to 'Pull Subjects', new_cornellsubject_path, class: "btn btn-default" %>
    <% end %>
    <% if user_signed_in? && current_user.id == 1 %>
      <%= link_to 'Pull Classes', new_cornellclass_path, class: "btn btn-warning" %>
    <% end %>
  </div>
<% end %>
