<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cornell_class.title %>
</p>

<p>
  <strong>Prefix:</strong>
  <%= @cornell_class.prefix %>
</p>

<p>
  <strong>Course number:</strong>
  <%= @cornell_class.course_number %>
</p>

<p>
  <strong>Avgrating:</strong>
  <%= @cornell_class.avgrating %>
</p>

<p>
  <strong>Numratings:</strong>
  <%= @cornell_class.numratings %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @cornell_class.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @cornell_class.updated_at %>
</p>

<%= link_to 'Edit', edit_cornell_class_path(@cornell_class) %> |
<%= link_to 'Back', cornell_classes_path %>
