<%= form_for(@cornellsubject) do |f| %>
  <% if @cornellsubject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cornellsubject.errors.count, "error") %> prohibited this cornellsubject from being saved:</h2>

      <ul>
      <% @cornellsubject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :prefix %><br>
    <%= f.text_field :prefix %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
