<%= form_for(@teammember) do |f| %>
  <% if @teammember.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teammember.errors.count, "error") %> prohibited this teammember from being saved:</h2>

      <ul>
      <% @teammember.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :quote %><br>
    <%= f.text_field :quote %>
  </div>
  <div class="field">
    <%= f.label :quoted_person %><br>
    <%= f.text_field :quoted_person %>
  </div>
  <div class="field form-inline">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
