<h1 class="center" style="padding-bottom: 1em">Our Team</h1>

<% if user_signed_in? && current_user.id == 1 %>
  <%= link_to 'New Team Member', new_teammember_path, class: "btn btn-default" %>
<% end %>

<div id="pins" class="transitions-enabled">
  <% @teammembers.each do |teammember| %>
    <div class="box panel panel-default">
      <% if teammember.image? %>
        <%= image_tag teammember.image.url(:medium) %>
      <% end %>
      <div class="panel-heading center">
        <h2><%= teammember.name %></h2>
      </div>
      <div class="panel-body">
        <h4><%= teammember.position %></h4>
        <% if teammember.quote? && teammember.quoted_person %>
          <hr>
          <p>            
            <em><%= teammember.quote %></em> - <%= teammember.quoted_person %>            
          </p>
        <% end %>

        <% if user_signed_in? && current_user.id == 1 %>
          <hr>
          <%= link_to 'Show', teammember %>
          <%= link_to 'Edit', edit_teammember_path(teammember) %>
          <%= link_to 'Destroy', teammember, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<!-- Automatically paginates the team page -->
<div class="center">
   <%= will_paginate @teammembers, renderer: BootstrapPagination::Rails %>
</div>