<%= form_for(@rating) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <% if @rating.rating.present? %>
        <div class="panel-title">
          <h1>
            Editing your <%= @rating.prefix %><%= @rating.course_number %> rating
          </h1>
        </div>
      <% elsif @prefix.present? %>      
        <div class="panel-title">
          <h1>
            You're rating <%= @prefix %> <%= @coursenumber %>
          </h1>
          <%= f.hidden_field :prefix, :value => @prefix %>
          <%= f.hidden_field :course_number, :value => @coursenumber %>
        </div>
      <% else %>
        <div class="panel-title">
          <h1>Rate a Class</h1>
        </div>
      <% end %>
    </div>

    <!-- Context Information -->
    <div class="container-fluid">
      <div class="panel-body"> 

        <div class="row">
          <div class="field form-inline col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <%= f.label :rater %><br>
            <%= current_user.name %>
          </div>
          <div class="field form-inline col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label for="grade">Grade Received</label><br>

            <%= f.select(:grade, [['Optional', ''], ['A', 4], ['B', 3], ['C', 2], ['D or lower', 1]], {}, { :class => 'form-control', :style => 'width: auto' }) %>
          </div>
        </div>
        

        <% if !@rating.course_number.present? && !@prefix.present? %>
          <!-- ID error is for the null string recognition script -->
          <div class="field form-inline" id="error">
            <label>Course</label>
            <div id="prefetch-mainsearch">
              <input type="string" class="form-control typeahead-mainsearch" id="search_text" name="rating[search_text]" placeholder="BEE4500: Bioinstrumentation" autofocus>
            </div>
          </div>
          <div>
          <%= f.label 'Term' %><br>
          <%= f.select(:semester, ['SP15', 'FA14', 'SP14', 'FA13', 'SP13', 'FA12', 'SP12', 'FA11', 'SP11'], {}, { :class => 'form-control', :style => 'width: auto' }) %>
          </div>  
        <% elsif !@rating.rating.present? %>
          <%= f.select(:semester, ['SP15', 'FA14', 'SP14', 'FA13', 'SP13', 'FA12', 'SP12', 'FA11', 'SP11'], {}, { :class => 'form-control', :style => 'width: auto' }) %>
        <% end %>

        <br><br>
     
        <!-- Multiple Choice 0-5 Quality -->
        <div class="table-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12">        
          <table class="table table-hover" style="margin-bottom: 0;">
            <tbody>
              <tr data-toggle="popover"
                  data-content="The overall rating is your general impression of the course as a whole.  A higher rating indicates a better quality course." 
                  data-trigger="hover"
                  data-placement="bottom">
                <td colspan="10" class="center">
                  <h4>Overall</h4>
                </td>
              </tr>
              <tr>
                <td></td>
                <td><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></td>
                <td>1</td>  
                <td>2</td> 
                <td>3</td> 
                <td>4</td> 
                <td>5</td>  
                <td><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></td>  
                <td></td>
                <td><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></td>     
              </tr>
              <tr>
                <td><label for="rating">Overall Course Opinion</label></td>
                <td></td>
                <td><%= f.radio_button :rating, '1' %></td>
                <td><%= f.radio_button :rating, '2' %></td>
                <td><%= f.radio_button :rating, '3' %></td>
                <td><%= f.radio_button :rating, '4' %></td>
                <td><%= f.radio_button :rating, '5' %></td>
                <td></td>
                <td></td>
                <td><%= f.radio_button :rating, '' %></td>
              </tr>
              <tr data-toggle="popover"
                  data-content="Course quality is your impression of how valuable each aspect of the course was. The higher the rating, the better the quality of the course" 
                  data-trigger="hover"
                  data-placement="bottom">
                <td colspan="10" class="center">
                  <h4>Quality</h4>
                </td>
              </tr>
              <tr>
              <tr>
                <td></td>
                <td><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></td>
                <td>1</td>  
                <td>2</td> 
                <td>3</td> 
                <td>4</td> 
                <td>5</td>
                <td><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></td>
                <td></td>
                <td><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></td>
              </tr>
              <tr>
                <td><%= f.label 'Professor' %></td>
                <td></td>
                <td><%= f.radio_button :profqual, '1' %></td>
                <td><%= f.radio_button :profqual, '2' %></td>
                <td><%= f.radio_button :profqual, '3' %></td>
                <td><%= f.radio_button :profqual, '4' %></td>
                <td><%= f.radio_button :profqual, '5' %></td>
                <td></td>
                <td></td>
                <td><%= f.radio_button :profqual, '' %></td>
              </tr>
              <tr>
                <td><label for="taqual">TA</label></td>
                <td></td>
                <td><%= f.radio_button :taqual, '1' %></td>
                <td><%= f.radio_button :taqual, '2' %></td>
                <td><%= f.radio_button :taqual, '3' %></td>
                <td><%= f.radio_button :taqual, '4' %></td>
                <td><%= f.radio_button :taqual, '5' %></td>
                <td></td>
                <td></td>
                <td><%= f.radio_button :taqual, '' %></td>
              </tr>
              <tr>
                <td><%= f.label 'Lectures' %></td>
                <td></td>
                <td><%= f.radio_button :lecturequal, '1' %></td>
                <td><%= f.radio_button :lecturequal, '2' %></td>
                <td><%= f.radio_button :lecturequal, '3' %></td>
                <td><%= f.radio_button :lecturequal, '4' %></td>
                <td><%= f.radio_button :lecturequal, '5' %></td>
                <td></td>
                <td></td>
                <td><%= f.radio_button :lecturequal, '' %></td>
              </tr>
              <tr>
                <td><label for="recitationqual">Recitation</label></td>
                <td></td>
                <td><%= f.radio_button :recitationqual, '1' %></td>
                <td><%= f.radio_button :recitationqual, '2' %></td>
                <td><%= f.radio_button :recitationqual, '3' %></td>
                <td><%= f.radio_button :recitationqual, '4' %></td>
                <td><%= f.radio_button :recitationqual, '5' %></td>
                <td></td>
                <td></td>
                <td><%= f.radio_button :recitationqual, '' %></td>
              </tr>
              <tr>
                <td><label for="labqual">Lab</label></td>
                <td></td>
                <td><%= f.radio_button :labqual, '1' %></td>
                <td><%= f.radio_button :labqual, '2' %></td>
                <td><%= f.radio_button :labqual, '3' %></td>
                <td><%= f.radio_button :labqual, '4' %></td>
                <td><%= f.radio_button :labqual, '5' %></td>
                <td></td>
                <td></td>
                <td><%= f.radio_button :labqual, '' %></td>
              </tr>
              <tr>
                <td colspan="10" class="center">
                  <h4>More to say?</h4>
                </td>
              </tr>
              <tr>
                <td colspan="10" class="center">
                  <div class="ecenter" style="width:60%"><%= f.text_area :moretosay, class: "form-control" %></div>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
        </div>

        <!-- More rating categories -->
        <!-- Attendance Requirements -->

        <div>

          <div class="ecenter center">
            <div class="btn btn-default" style="width: 200px" id="doesHaveTime">
              Have extra time? <span class="glyphicon glyphicon-sunglasses"></span>
            </div>
          </div>

          <div class="table-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12" id="noTime">
            <br>
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td colspan="10" class="center">
                    <h4>Coursework Requirements</h4>
                  </td>
                </tr>
                <tr>
                  <td><%= f.label 'Prelims' %></td>
                  <td><%= f.check_box :prelimyesno, class: "checkbox" %></td>
                </tr>
                <tr>
                  <td><label for="examyesno">Final Exam</label></td>
                  <td><%= f.check_box :examyesno, class: "checkbox" %></td>
                </tr>
                <tr>
                  <td><label for="hwyesno">Graded Homework</label></td>
                  <td><%= f.check_box :hwyesno, class: "checkbox" %></td>
                </tr>
                <tr>
                  <td><label for="projyesno">Final Project</label></td>
                  <td><%= f.check_box :projyesno, class: "checkbox" %></td>
                </tr>
                <tr>
                  <td><label for="paperyesno">Papers/Case Studies</label></td>
                  <td><%= f.check_box :paperyesno, class: "checkbox" %></td>
                </tr>
                <tr>
                  <td colspan="10" class="center">
                    <h4>Attendance Requirements</h4>
                  </td>
                </tr>
                <tr>
                  <td><label for="recitationreqdyesno">Recitation</label></td>
                  <td><%= f.check_box :recitationreqdyesno, class: "checkbox" %></td>
                </tr>
                <tr>
                  <td><label for="labreqdyesno">Lab</label></td>
                  <td><%= f.check_box :labreqdyesno, class: "checkbox" %></td>
                </tr>
                <tr>
                  <td><%= f.label 'Lecture' %></td>
                  <td><%= f.check_box :lecturereqdyesno, class: "checkbox" %></td>
                </tr>
              </tbody>
            </table>
          </div> 

          <div id="hasTime">
            <br>
            <div class="table-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12">        
              <table class="table table-hover" style="margin-bottom: 0;">
                <tbody>
                  <tr data-toggle="popover" 
                      data-content="Level of difficulty is your impression of how difficult the course was in relation to your expectatation.  A higher rating indicates a higher level of difficulty." 
                      data-trigger="hover"
                      data-placement="bottom">
                    <td colspan="10" class="center">
                      <h4>Level of Difficulty</h4>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></td>
                    <td>1</td>  
                    <td>2</td> 
                    <td>3</td> 
                    <td>4</td> 
                    <td>5</td>  
                    <td><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></td>  
                    <td></td>
                    <td><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></td>     
                  </tr>
                  <tr>
                    <td><%= f.label 'Assignments' %></td>
                    <td></td>
                    <td><%= f.radio_button :hwdiff, '1' %></td>
                    <td><%= f.radio_button :hwdiff, '2' %></td>
                    <td><%= f.radio_button :hwdiff, '3' %></td>
                    <td><%= f.radio_button :hwdiff, '4' %></td>
                    <td><%= f.radio_button :hwdiff, '5' %></td>
                    <td></td>
                    <td></td>
                    <td><%= f.radio_button :hwdiff, '' %></td>
                  </tr>
                  <tr>
                    <td><%= f.label 'Prelims' %></td>
                    <td></td>
                    <td><%= f.radio_button :prelimdiff, '1' %></td>
                    <td><%= f.radio_button :prelimdiff, '2' %></td>
                    <td><%= f.radio_button :prelimdiff, '3' %></td>
                    <td><%= f.radio_button :prelimdiff, '4' %></td>
                    <td><%= f.radio_button :prelimdiff, '5' %></td>
                    <td></td>
                    <td></td>
                    <td><%= f.radio_button :prelimdiff, '' %></td>
                  </tr>
                  <tr>
                    <td><label for="examdiff">Final Exam</label></td>
                    <td></td>
                    <td><%= f.radio_button :examdiff, '1' %></td>
                    <td><%= f.radio_button :examdiff, '2' %></td>
                    <td><%= f.radio_button :examdiff, '3' %></td>
                    <td><%= f.radio_button :examdiff, '4' %></td>
                    <td><%= f.radio_button :examdiff, '5' %></td>
                    <td></td>
                    <td></td>
                    <td><%= f.radio_button :examdiff, '' %></td>
                  </tr>
                  <tr>
                    <td><label for="materialdiff">Course Material & Topics</label></td>
                    <td></td>
                    <td><%= f.radio_button :materialdiff, '1' %></td>
                    <td><%= f.radio_button :materialdiff, '2' %></td>
                    <td><%= f.radio_button :materialdiff, '3' %></td>
                    <td><%= f.radio_button :materialdiff, '4' %></td>
                    <td><%= f.radio_button :materialdiff, '5' %></td>
                    <td></td>
                    <td></td>
                    <td><%= f.radio_button :materialdiff, '' %></td>
                  </tr>
                  <tr>
                    <td><label for="projdiff">Final Project</label></td>
                    <td></td>
                    <td><%= f.radio_button :projdiff, '1' %></td>
                    <td><%= f.radio_button :projdiff, '2' %></td>
                    <td><%= f.radio_button :projdiff, '3' %></td>
                    <td><%= f.radio_button :projdiff, '4' %></td>
                    <td><%= f.radio_button :projdiff, '5' %></td>
                    <td></td>
                    <td></td>
                    <td><%= f.radio_button :projdiff, '' %></td>
                  </tr>
                  <tr>
                    <td><label for="paperdiff">Papers/Case Studies</label></td>
                    <td></td>
                    <td><%= f.radio_button :paperdiff, '1' %></td>
                    <td><%= f.radio_button :paperdiff, '2' %></td>
                    <td><%= f.radio_button :paperdiff, '3' %></td>
                    <td><%= f.radio_button :paperdiff, '4' %></td>
                    <td><%= f.radio_button :paperdiff, '5' %></td>
                    <td></td>
                    <td></td>
                    <td><%= f.radio_button :paperdiff, '' %></td>
                  </tr>            
                </tbody>
              </table>
            </div>
            <div class="table-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <td colspan="10" class="center">
                      <h4>Attendance Requirements</h4>
                    </td>
                  </tr>
                  <tr>
                    <td><label for="recitationreqdyesno">Recitation</label></td>
                    <td><%= f.check_box :recitationreqdyesno, class: "checkbox" %></td>
                  </tr>
                  <tr>
                    <td><label for="labreqdyesno">Lab</label></td>
                    <td><%= f.check_box :labreqdyesno, class: "checkbox" %></td>
                  </tr>
                  <tr>
                    <td><%= f.label 'Lecture' %></td>
                    <td><%= f.check_box :lecturereqdyesno, class: "checkbox" %></td>
                  </tr>                  
                </tbody>
              </table>
            </div>
          </div>

        </div>

        <hr>
    
       
        <div class="actions center">
          <%= f.submit "Submit", class: "btn btn-primary" %>
          <%= link_to 'Back', userratings_path, class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>
<% end %>