<%= form_for(@rating) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h1>Rate a Class</h1>
      </div>
    </div>

    <div class="panel-body"> 
      <div class="field form-inline">
        <%= f.label :rater %><br>
        <%= current_user.name %>
      </div>
      <div class="field form-inline">
        <%= f.label :rating %><br>
        <%= f.number_field :rating, class: "form-control", placeholder: "0 to 5" %>
      </div>
      <!--
      <div class="form-group">
        <%= f.label :classid %><br>
        <%= f.number_field :classid %>
      </div>
      -->
      <div class="field form-inline">
        <%= f.label :prefix %>,
        <%= f.label :course_number %><br>
        <%= f.text_field :prefix, class: "form-control", placeholder: "BEE" %>
        <%= f.number_field :course_number, class: "form-control", placeholder: "3500" %>
      </div>
      <!--
      <div class="field">
        <%= f.label :created_at %><br>
        <%= f.datetime_select :created_at %>
      </div>
      <div class="field">
        <%= f.label :updated_at %><br>
        <%= f.datetime_select :updated_at %>
      </div>
      -->
      <div class="actions">
        <%= f.submit "Submit", class: "btn btn-primary" %>
        <%= link_to 'Back', ratings_path, class: "btn btn-default" %>
      </div>
    </div>
<% end %>
