<%= form_for(@rating) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h1>Rate a Class</h1>
      </div>
    </div>

    <!-- Context Information -->
    <div class="panel-body"> 
      <div class="field form-inline">
        <%= f.label :rater %><br>
        <%= current_user.name %>
      </div>      
      <div class="field form-inline">
        <%= f.label :prefix %>,
        <%= f.label :course_number %><br>
        <%= f.text_field :prefix, class: "form-control", placeholder: "CS" %>
        <%= f.number_field :course_number, class: "form-control", placeholder: "3410" %>
      </div>
      <div>
        <%= f.label 'Term' %><br>
        <%= f.select(:semester, ['FA11', 'FA12', 'FA13', 'FA14', 'FA15', 'SP11', 'SP12', 'SP13', 'SP14', 'SP15'], {}, { :class => 'form-control', :style => 'width: auto' }) %>
      </div>

      <hr>     
      <!-- Multiple Choice 0-5 Quality -->  
      <h4 class="center">Quality</h4>
      <div>        
        <table class="table table-hover">
          <tbody>
            <tr>
              <td></td>
              <td><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></td>
              <td>1</td>  
              <td>2</td> 
              <td>3</td> 
              <td>4</td> 
              <td>5</td>
              <td><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></td>
              <td></td>
              <td><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></td>
            </tr>
            <tr>
              <td><%= f.label 'Professor' %></td>
              <td></td>
              <td><%= f.radio_button :profqual, '1' %></td>
              <td><%= f.radio_button :profqual, '2' %></td>
              <td><%= f.radio_button :profqual, '3' %></td>
              <td><%= f.radio_button :profqual, '4' %></td>
              <td><%= f.radio_button :profqual, '5' %></td>
              <td></td>
              <td></td>
              <td><%= f.radio_button :profqual, '' %></td>
            </tr>
            <tr>
              <td><%= f.label 'TA' %></td>
              <td></td>
              <td><%= f.radio_button :taqual, '1' %></td>
              <td><%= f.radio_button :taqual, '2' %></td>
              <td><%= f.radio_button :taqual, '3' %></td>
              <td><%= f.radio_button :taqual, '4' %></td>
              <td><%= f.radio_button :taqual, '5' %></td>
              <td></td>
              <td></td>
              <td><%= f.radio_button :taqual, '' %></td>
            </tr>
            <tr>
              <td><%= f.label 'Lectures' %></td>
              <td></td>
              <td><%= f.radio_button :lecturequal, '1' %></td>
              <td><%= f.radio_button :lecturequal, '2' %></td>
              <td><%= f.radio_button :lecturequal, '3' %></td>
              <td><%= f.radio_button :lecturequal, '4' %></td>
              <td><%= f.radio_button :lecturequal, '5' %></td>
              <td></td>
              <td></td>
              <td><%= f.radio_button :lecturequal, '' %></td>
            </tr>
            <tr>
              <td><%= f.label 'Recitation' %></td>
              <td></td>
              <td><%= f.radio_button :recitationqual, '1' %></td>
              <td><%= f.radio_button :recitationqual, '2' %></td>
              <td><%= f.radio_button :recitationqual, '3' %></td>
              <td><%= f.radio_button :recitationqual, '4' %></td>
              <td><%= f.radio_button :recitationqual, '5' %></td>
              <td></td>
              <td></td>
              <td><%= f.radio_button :recitationqual, '' %></td>
            </tr>
            <tr><td colspan="10" class="center"><h4>Level of Difficulty</h4></td></tr>
            <tr>
              <td></td>
              <td><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></td>
              <td>1</td>  
              <td>2</td> 
              <td>3</td> 
              <td>4</td> 
              <td>5</td>  
              <td><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></td>  
              <td></td>
              <td><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></td>     
            </tr>
            <tr>
              <td><%= f.label 'Homework' %></td>
              <td></td>
              <td><%= f.radio_button :hwdiff, '1' %></td>
              <td><%= f.radio_button :hwdiff, '2' %></td>
              <td><%= f.radio_button :hwdiff, '3' %></td>
              <td><%= f.radio_button :hwdiff, '4' %></td>
              <td><%= f.radio_button :hwdiff, '5' %></td>
              <td></td>
              <td></td>
              <td><%= f.radio_button :hwdiff, '' %></td>
            </tr>
            <tr>
              <td><%= f.label 'Prelim(s)' %></td>
              <td></td>
              <td><%= f.radio_button :prelimdiff, '1' %></td>
              <td><%= f.radio_button :prelimdiff, '2' %></td>
              <td><%= f.radio_button :prelimdiff, '3' %></td>
              <td><%= f.radio_button :prelimdiff, '4' %></td>
              <td><%= f.radio_button :prelimdiff, '5' %></td>
              <td></td>
              <td></td>
              <td><%= f.radio_button :prelimdiff, '' %></td>
            </tr>
            <tr>
              <td><%= f.label 'Final Exam' %></td>
              <td></td>
              <td><%= f.radio_button :examdiff, '1' %></td>
              <td><%= f.radio_button :examdiff, '2' %></td>
              <td><%= f.radio_button :examdiff, '3' %></td>
              <td><%= f.radio_button :examdiff, '4' %></td>
              <td><%= f.radio_button :examdiff, '5' %></td>
              <td></td>
              <td></td>
              <td><%= f.radio_button :examdiff, '' %></td>
            </tr>
            <tr>
              <td><%= f.label 'Course Material & Topics' %></td>
              <td></td>
              <td><%= f.radio_button :materialdiff, '1' %></td>
              <td><%= f.radio_button :materialdiff, '2' %></td>
              <td><%= f.radio_button :materialdiff, '3' %></td>
              <td><%= f.radio_button :materialdiff, '4' %></td>
              <td><%= f.radio_button :materialdiff, '5' %></td>
              <td></td>
              <td></td>
              <td><%= f.radio_button :materialdiff, '' %></td>
            </tr>
            <tr>
              <td><%= f.label 'Project(s)' %></td>
              <td></td>
              <td><%= f.radio_button :projdiff, '1' %></td>
              <td><%= f.radio_button :projdiff, '2' %></td>
              <td><%= f.radio_button :projdiff, '3' %></td>
              <td><%= f.radio_button :projdiff, '4' %></td>
              <td><%= f.radio_button :projdiff, '5' %></td>
              <td></td>
              <td></td>
              <td><%= f.radio_button :projdiff, '' %></td>
            </tr>
            <tr>
              <td><%= f.label 'Paper(s)' %></td>
              <td></td>
              <td><%= f.radio_button :paperdiff, '1' %></td>
              <td><%= f.radio_button :paperdiff, '2' %></td>
              <td><%= f.radio_button :paperdiff, '3' %></td>
              <td><%= f.radio_button :paperdiff, '4' %></td>
              <td><%= f.radio_button :paperdiff, '5' %></td>
              <td></td>
              <td></td>
              <td><%= f.radio_button :paperdiff, '' %></td>
            </tr>
            
            <tr><td colspan="10" class="center"><h4>Overall</h4></td></tr>
            <tr>
              <td></td>
              <td><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></td>
              <td>1</td>  
              <td>2</td> 
              <td>3</td> 
              <td>4</td> 
              <td>5</td>  
              <td><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></td>  
              <td></td>
              <td><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></td>     
            </tr>
            <tr>
              <td><%= f.label 'Overall Course Opinion' %></td>
              <td></td>
              <td><%= f.radio_button :rating, '1' %></td>
              <td><%= f.radio_button :rating, '2' %></td>
              <td><%= f.radio_button :rating, '3' %></td>
              <td><%= f.radio_button :rating, '4' %></td>
              <td><%= f.radio_button :rating, '5' %></td>
              <td></td>
              <td></td>
              <td><%= f.radio_button :rating, '' %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <hr>
      <!-- Booleans -->
      
      
      <div class="field form-inline">
        <%= f.label 'Prelims?' %>
        <%= f.check_box :prelimyesno, class: "checkbox" %>
      </div>
      <div class="field form-inline">
        <%= f.label 'Final Exam?' %>
        <%= f.check_box :examyesno, class: "checkbox" %>
      </div>
      <div class="field form-inline">
        <%= f.label 'Graded Homework?' %>
        <%= f.check_box :hwyesno, class: "checkbox" %>
      </div>
      <div class="field form-inline">
        <%= f.label 'Project(s)?' %>
        <%= f.check_box :projyesno, class: "checkbox" %>
      </div>   
      <div class="field form-inline">
        <%= f.label 'Paper(s)?' %>
        <%= f.check_box :paperyesno, class: "checkbox" %>
      </div>   
      <div class="field form-inline">
        <%= f.label 'Required Attendance Required?' %>
        <%= f.check_box :recitationreqdyesno, class: "checkbox" %>
      </div>
      <div class="field form-inline">
        <%= f.label 'Lecture Attendance Required?' %>
        <%= f.check_box :lecturereqdyesno, class: "checkbox" %>
      </div>
         
      <div class="actions">
        <%= f.submit "Submit", class: "btn btn-primary" %>
        <%= link_to 'Back', userratings_path, class: "btn btn-default" %>
      </div>
    </div>
<% end %>
