<%= form_for(@rating) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h1>Rate a Class</h1>
      </div>
    </div>

    <!-- Context Information -->
    <div class="row container-fluid">
      <div class="panel-body col-lg-6 col-md-6 col-sm-12 col-xs-12"> 
        <div class="field form-inline">
          <%= f.label :rater %><br>
          <%= current_user.name %>
        </div>      
        <div class="field form-inline">
          <label>Course</label>
          <div id="prefetch-mainsearch">
            <input type="string" class="form-control typeahead-mainsearch" id="search_text" name="rating[search_text]" placeholder="BEE4500: Bioinstrumentation" autofocus>
          </div>
        </div>
        <div>
          <%= f.label 'Term' %><br>
          <%= f.select(:semester, ['SP15', 'FA14', 'SP14', 'FA13', 'SP13', 'FA12', 'SP12', 'FA11', 'SP11'], {}, { :class => 'form-control', :style => 'width: auto' }) %>
        </div>
      </div>

      <br><br>
   
      <!-- Multiple Choice 0-5 Quality -->
      <div>        
        <table class="table table-hover">
          <tbody>
            <tr data-toggle="popover"  
                title="Course Quality" 
                data-content="Course quality is your impression of how valuable each aspect of the course was. The higher the rating, the better the quality of the course" 
                data-trigger="hover"
                data-placement="top">
              <td colspan="10" class="center">
                <h4>Quality</h4>
              </td>
            </tr>
            <tr>
            <tr>
              <td></td>
              <td><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></td>
              <td>1</td>  
              <td>2</td> 
              <td>3</td> 
              <td>4</td> 
              <td>5</td>
              <td><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></td>
              <td></td>
              <td><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></td>
            </tr>
            <tr>
              <td><%= f.label 'Professor' %></td>
              <td></td>
              <td><%= f.radio_button :profqual, '1' %></td>
              <td><%= f.radio_button :profqual, '2' %></td>
              <td><%= f.radio_button :profqual, '3' %></td>
              <td><%= f.radio_button :profqual, '4' %></td>
              <td><%= f.radio_button :profqual, '5' %></td>
              <td></td>
              <td></td>
              <td><%= f.radio_button :profqual, '' %></td>
            </tr>
            <tr>
              <td><label for="taqual">TA</label></td>
              <td></td>
              <td><%= f.radio_button :taqual, '1' %></td>
              <td><%= f.radio_button :taqual, '2' %></td>
              <td><%= f.radio_button :taqual, '3' %></td>
              <td><%= f.radio_button :taqual, '4' %></td>
              <td><%= f.radio_button :taqual, '5' %></td>
              <td></td>
              <td></td>
              <td><%= f.radio_button :taqual, '' %></td>
            </tr>
            <tr>
              <td><%= f.label 'Lectures' %></td>
              <td></td>
              <td><%= f.radio_button :lecturequal, '1' %></td>
              <td><%= f.radio_button :lecturequal, '2' %></td>
              <td><%= f.radio_button :lecturequal, '3' %></td>
              <td><%= f.radio_button :lecturequal, '4' %></td>
              <td><%= f.radio_button :lecturequal, '5' %></td>
              <td></td>
              <td></td>
              <td><%= f.radio_button :lecturequal, '' %></td>
            </tr>
            <tr>
              <td><%= f.label 'Recitation/Lab' %></td>
              <td></td>
              <td><%= f.radio_button :recitationqual, '1' %></td>
              <td><%= f.radio_button :recitationqual, '2' %></td>
              <td><%= f.radio_button :recitationqual, '3' %></td>
              <td><%= f.radio_button :recitationqual, '4' %></td>
              <td><%= f.radio_button :recitationqual, '5' %></td>
              <td></td>
              <td></td>
              <td><%= f.radio_button :recitationqual, '' %></td>
            </tr>
            <tr data-toggle="popover"  
                title="Level of Difficulty" 
                data-content="Level of difficulty is your impression of how difficult the course was in relation to your expectatation.  A higher rating indicates a higher level of difficulty." 
                data-trigger="hover"
                data-placement="top">
              <td colspan="10" class="center">
                <h4>Level of Difficulty</h4>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></td>
              <td>1</td>  
              <td>2</td> 
              <td>3</td> 
              <td>4</td> 
              <td>5</td>  
              <td><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></td>  
              <td></td>
              <td><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></td>     
            </tr>
            <tr>
              <td><%= f.label 'Homework' %></td>
              <td></td>
              <td><%= f.radio_button :hwdiff, '1' %></td>
              <td><%= f.radio_button :hwdiff, '2' %></td>
              <td><%= f.radio_button :hwdiff, '3' %></td>
              <td><%= f.radio_button :hwdiff, '4' %></td>
              <td><%= f.radio_button :hwdiff, '5' %></td>
              <td></td>
              <td></td>
              <td><%= f.radio_button :hwdiff, '' %></td>
            </tr>
            <tr>
              <td><%= f.label 'Prelims' %></td>
              <td></td>
              <td><%= f.radio_button :prelimdiff, '1' %></td>
              <td><%= f.radio_button :prelimdiff, '2' %></td>
              <td><%= f.radio_button :prelimdiff, '3' %></td>
              <td><%= f.radio_button :prelimdiff, '4' %></td>
              <td><%= f.radio_button :prelimdiff, '5' %></td>
              <td></td>
              <td></td>
              <td><%= f.radio_button :prelimdiff, '' %></td>
            </tr>
            <tr>
              <td><%= f.label 'Final Exam' %></td>
              <td></td>
              <td><%= f.radio_button :examdiff, '1' %></td>
              <td><%= f.radio_button :examdiff, '2' %></td>
              <td><%= f.radio_button :examdiff, '3' %></td>
              <td><%= f.radio_button :examdiff, '4' %></td>
              <td><%= f.radio_button :examdiff, '5' %></td>
              <td></td>
              <td></td>
              <td><%= f.radio_button :examdiff, '' %></td>
            </tr>
            <tr>
              <td><%= f.label 'Course Material & Topics' %></td>
              <td></td>
              <td><%= f.radio_button :materialdiff, '1' %></td>
              <td><%= f.radio_button :materialdiff, '2' %></td>
              <td><%= f.radio_button :materialdiff, '3' %></td>
              <td><%= f.radio_button :materialdiff, '4' %></td>
              <td><%= f.radio_button :materialdiff, '5' %></td>
              <td></td>
              <td></td>
              <td><%= f.radio_button :materialdiff, '' %></td>
            </tr>
            <tr>
              <td><%= f.label 'Final Project' %></td>
              <td></td>
              <td><%= f.radio_button :projdiff, '1' %></td>
              <td><%= f.radio_button :projdiff, '2' %></td>
              <td><%= f.radio_button :projdiff, '3' %></td>
              <td><%= f.radio_button :projdiff, '4' %></td>
              <td><%= f.radio_button :projdiff, '5' %></td>
              <td></td>
              <td></td>
              <td><%= f.radio_button :projdiff, '' %></td>
            </tr>
            <tr>
              <td><%= f.label 'Papers/Case Studies' %></td>
              <td></td>
              <td><%= f.radio_button :paperdiff, '1' %></td>
              <td><%= f.radio_button :paperdiff, '2' %></td>
              <td><%= f.radio_button :paperdiff, '3' %></td>
              <td><%= f.radio_button :paperdiff, '4' %></td>
              <td><%= f.radio_button :paperdiff, '5' %></td>
              <td></td>
              <td></td>
              <td><%= f.radio_button :paperdiff, '' %></td>
            </tr>
            
            <tr data-toggle="popover"  
                title="Overall Rating" 
                data-content="The overall rating is your general impression of the course as a whole.  A higher rating indicates a better quality course." 
                data-trigger="hover"
                data-placement="top">
              <td colspan="10" class="center">
                <h4>Overall</h4>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></td>
              <td>1</td>  
              <td>2</td> 
              <td>3</td> 
              <td>4</td> 
              <td>5</td>  
              <td><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></td>  
              <td></td>
              <td><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></td>     
            </tr>
            <tr>
              <td><%= f.label 'Overall Course Opinion' %></td>
              <td></td>
              <td><%= f.radio_button :rating, '1' %></td>
              <td><%= f.radio_button :rating, '2' %></td>
              <td><%= f.radio_button :rating, '3' %></td>
              <td><%= f.radio_button :rating, '4' %></td>
              <td><%= f.radio_button :rating, '5' %></td>
              <td></td>
              <td></td>
              <td><%= f.radio_button :rating, '' %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <hr>
      <!-- Booleans -->
      
      <div>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td colspan="10" class="center">
                <h4>Selectables</h4>
              </td>
            </tr>
            <tr>
              <td><%= f.label 'Prelims?' %></td>
              <td><%= f.check_box :prelimyesno, class: "checkbox" %></td>
            </tr>
            <tr>
              <td><%= f.label 'Final Exam?' %></td>
              <td><%= f.check_box :examyesno, class: "checkbox" %></td>
            </tr>
            <tr>
              <td><%= f.label 'Graded Homework?' %></td>
              <td><%= f.check_box :hwyesno, class: "checkbox" %></td>
            </tr>
            <tr>
              <td><%= f.label 'Final Project?' %></td>
              <td><%= f.check_box :projyesno, class: "checkbox" %></td>
            </tr>
            <tr>
              <td><%= f.label 'Papers/Case Studies?' %></td>
              <td><%= f.check_box :paperyesno, class: "checkbox" %></td>
            </tr>
            <tr>
              <td><%= f.label 'Recitation/Lab Required?' %></td>
              <td><%= f.check_box :recitationreqdyesno, class: "checkbox" %></td>
            </tr>
            <tr>
              <td><%= f.label 'Lecture Required?' %></td>
              <td><%= f.check_box :lecturereqdyesno, class: "checkbox" %></td>
            </tr>

            <tr>
              <td colspan="10" class="center">
                <h4>More to say?</h4>
              </td>
            </tr>
            <tr>
              <td colspan="10" class="center">
                <div><%= f.text_area :moretosay, class: "form-control" %></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
         
      <div class="actions center">
        <%= f.submit "Submit", class: "btn btn-primary" %>
        <%= link_to 'Back', userratings_path, class: "btn btn-default" %>
      </div>
    </div>
<% end %>
