<p id="notice"><%= notice %></p>

<p>
  <strong>Rater:</strong>
  <%= @rating.user.name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @rating.rating %>
</p>

<!--
<p>
  <strong>Classid:</strong>
  <%= @rating.courseid %>
</p>
-->

<p>
  <strong>Course:</strong><br/>
  <%= @rating.prefix %><%= @rating.course_number %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @rating.created_at %>
</p>

<!--
<p>
  <strong>Updated at:</strong>
  <%= @rating.updated_at %>
</p>
-->

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', userratings_path %>
