<p id="notice"><%= notice %></p>
<!--
<p>
  <strong>Classid:</strong>
  <%= @rating.courseid %>
</p>
-->
<table class="table">

  <tbody>
    <tr>
      <td><strong>Rater</strong></td>
      <td><%= @rating.user.name %></td>
    </tr>
    <tr>
      <td><strong>Overall Rating</strong></td>
      <td><%= @rating.rating %></td>
    </tr>
    <tr>
      <td><strong>Class</strong></td>
      <td><%= @rating.prefix %><%= @rating.course_number %></td>
    </tr>
    <tr>
      <td><strong>Homework?</strong></td>
      <td>
        <% if @rating.hwyesno == true %>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <% else %>
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><strong>Created On</strong></td>
      <td><%= @rating.created_at %></td>
    </tr>
  </tbody>
</table>

<div>
  <%= link_to 'Delete', @rating, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %> |
  <%= link_to 'Edit', edit_rating_path(@rating), class: "btn btn-default btn-xs" %> |
<%= link_to 'Back', userratings_path, class: "btn btn-default btn-xs" %>
</div>


<!--
<p>
  <strong>Updated at:</strong>
  <%= @rating.updated_at %>
</p>
-->


