<!-- WILL ONLY SHOW A SINGLE USER'S RATINGS -->

<div class="well well-sm center">
  <h1 class="center">All of <%= current_user.name %>'s ratings</h1>  
</div>

<%= link_to 'New Rating', new_rating_path, class: "btn btn-primary" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Rater</th>
      <th>Rating</th>
      <th>Prefix</th>
      <th>Course Number</th>
      <th>Date Rated</th>
      <th></th>
    </tr>
  </thead>

  <tbody>    
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.user.name %></td>
        <td><%= rating.rating %></td>
        <td><%= rating.prefix %></td>
        <td><%= rating.course_number %></td>
        <td><%= rating.created_at.month %>/<%= rating.created_at.day %></td>
        <td>
          <%= link_to 'Show', rating, class: "btn btn-default btn-xs" %> | 
          <%= link_to 'Edit', edit_rating_path(rating), class: "btn btn-default btn-xs" %>
          |
          <%= link_to 'Delete', rating, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>