<div class="container-fluid center panel panel-default">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<h4>Most Rated Classes</h4>			
			
			<% if @lastratings.count == 0 %>
				<div style="padding-bottom: 5px">
		  		<p><em>No ratings yet!</em></p>
				</div>
  		<% else %>			
				<table class="table">
				  <thead>
				    <tr>
				    	<th class="center">Course</th>
				      <th class="center"># Ratings</th>
				      <th></th>
				    </tr>
				  </thead>
				  <tbody>
				  	<% @lastratings.each do |mostrated| %>
			        <tr>
			          <td>
			          	<%= link_to mostrated do %>
				            <%= mostrated.prefix %><%= mostrated.coursenumber %>
				          <% end %>
			          </td>
			          <td><%= mostrated.numratings %></td>
			          <td>
			          	<%= link_to new_rating_path(:course_number => mostrated.coursenumber, :prefix => mostrated.prefix), class: "btn btn-default btn-xs center" do %>
										<span class="glyphicon glyphicon-pencil"></span>
			          	<% end %>
			          </td>
			        </tr>
		        <% end %>
				  </tbody>
				</table>
				<div class="center">
					<%= link_to '', mostrated_path, class: "btn btn-default btn-xs center glyphicon glyphicon-plus dashboard-bottom-link" %>
				</div>
			<% end %>

		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<h4>Highest Rated Classes</h4>	

			<% if @highestratedclasses.count == 0 %>
				<div style="padding-bottom: 5px">
		  		<p><em>No ratings yet!</em></p>
				</div>
  		<% else %>
				<table class="table">
				  <thead>
				    <tr>
				      <th class="center">Course</th>
				      <th class="center">Avg. Rating</th>
				      <th></th>
				    </tr>
				  </thead>
				  <tbody>
				  	<% @highestratedclasses.each do |ratedclass| %>
			        <tr>
			          <td>
			          	<%= link_to ratedclass do %>
				            <%= ratedclass.prefix %><%= ratedclass.coursenumber %>
				          <% end %>
			          </td>
			          <td><%= ratedclass.avgrating %></td>
			          <td>
			          	<%= link_to new_rating_path(:course_number => ratedclass.coursenumber, :prefix => ratedclass.prefix), class: "btn btn-default btn-xs center" do %>
										<span class="glyphicon glyphicon-pencil"></span>
			          	<% end %>
			          </td>
			        </tr>
		        <% end %>
				  </tbody>
				</table>
				<div class="center">
					<div class="center">
					<%= link_to '', highestrated_path, class: "btn btn-default btn-xs center glyphicon glyphicon-plus dashboard-bottom-link" %>
				</div>
				</div>
			<% end %>

		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<h4>Your Recent Ratings</h4>

			<% if @userlastratings.count == 0 %>
				<div class="alert alert-success" style="padding-bottom: 2rem">
		  		<p><em>You haven't rated any classes yet!</em></p>
		  		<%= link_to new_rating_path, :class => "btn btn-default btn-xs center" do %>			  		
					  <span class="glyphicon glyphicon-pencil"></span>
					  Rate something!
					<% end %>
				</div>
  		<% else %>		
				<table class="table">
				  <thead>
				    <tr>
				    	<th class="center">Course</th>
				      <th class="center">Rating</th>
				      <th></th>
				    </tr>
				  </thead>
				  <tbody>					  	
				  	<% @userlastratings.each do |lastrating| %>
			        <tr>
			        	<td class="center">
			        		<%= link_to Cornellclass.where(prefix: lastrating.prefix, coursenumber: lastrating.course_number).first do %>
				            <%= lastrating.prefix %><%= lastrating.course_number %>
				          <% end %>
			        	</td>
			          <td class="center"><%= lastrating.rating %></td>
			          <td>
			          	<%= link_to lastrating, :class => "btn btn-default btn-xs center" do %>			  		
					  				<span class="glyphicon glyphicon-pencil"></span>
									<% end %>
								</td>
			        </tr>
		        <% end %>
				  </tbody>
				</table>
				<div class="center">
					<div class="center">
					<%= link_to '', userratings_path, class: "btn btn-default btn-xs center glyphicon glyphicon-plus dashboard-bottom-link" %>
				</div>
				</div>
			<% end %>
		</div>
		
	</div>
</div>