<div class="well well-sm">
  <h1 class="center">
    Top <%= @cornellclasses.count %> Most Rated Classes
  </h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="center">Title</th>
      <th class="center">Course</th>
      <th class="center">Avg Overall Rating</th>
      <th class="center"># Ratings</th>
    </tr>
  </thead>

  <tbody>
    <% @cornellclasses.each do |cornellclass| %>
      <tr>
        <td class="col-lg-4 col-md-4 col-sm-3 col-xs-2">
          <%= link_to cornellclass do %>
            <%= cornellclass.title %>
          <% end %>
        </td>
        <td class="center col-lg-4 col-md-4 col-sm-3"><%= cornellclass.prefix %> <%= cornellclass.coursenumber %></td>
        <td class="center col-lg-2 col-md-2 col-sm-3"><%= cornellclass.avgrating %></td>
        <td class="center col-lg-2 col-md-2 col-sm-3"><%= cornellclass.numratings %></td>
      </tr>
    <% end %>
  </tbody>
</table>