<div class="well well-sm">
  <h1 class="center">
    Top <%= @cornellclasses.count %> Most Rated Classes
  </h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="center">Title</th>
      <th class="center">Course</th>
      <th class="center">Avg Overall Rating</th>
      <th class="center"># Ratings</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cornellclasses.each do |cornellclass| %>
      <tr>
        <td class="col-lg-4 col-md-4 col-sm-3 col-xs-2"><%= cornellclass.title %></td>
        <td class="center"><%= cornellclass.prefix %> <%= cornellclass.coursenumber %></td>
        <td class="center"><%= cornellclass.avgrating %></td>
        <td class="center"><%= cornellclass.numratings %></td>
        <td>
          <%= link_to '', cornellclass, class: "btn btn-default btn-xs center glyphicon glyphicon-list-alt" %>
        </td>
        <!--
        <td>
          <%= link_to '', new_rating_path, class: "btn btn-success btn-xs center glyphicon glyphicon-pencil" %>
        </td>
        <td><%= link_to 'Edit', edit_cornellclass_path(cornellclass) %></td>
        <td><%= link_to 'Destroy', cornellclass, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
      </tr>
    <% end %>
  </tbody>
</table>