<div class="panel center">
  <h2>Attendance</h2>
</div>

<div class="panel-body">
  <div class="container-fluid">
    
     <!-- UNLESS END -->


    <div class="row">
      <div class="col-md-6">
        Lecture Required:<br>
          <% if @cornellclass.lecturereqdyesno == true
              $bubble1 = "filledStar1 circleCenter"
              $bubble2 = "filledStar0 circleCenterI"
            else
              $bubble1 = "filledStar0 circleCenterI"
              $bubble2 = "filledStar1 circleCenter"
            end %>

        <div class="<%= $bubble1 %>"> 
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </div>
        <div class="<%= $bubble2 %>">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </div>
        <br>
        <br>
      </div>
      <div class="col-md-6">
        <% unless @cornellclass.lecturequal == 0 %> 
          Lecture Quality:<br> 
          <div class="progress">                    
            <div class="progress-bar progress-bar-rating" role="progressbar" style="width: <%= @cornellclass.lecturequal*20.0 %>%;"> <%= @cornellclass.lecturequal %>
            </div>
          </div>
        <% end %>
      </div>
    </div>


    <hr>
    

    <div class="row">
      <div class="col-md-6">
        Recitation Required:<br>
          <% if @cornellclass.recitationreqdyesno == true
              $bubble1 = "filledStar1 circleCenter"
              $bubble2 = "filledStar0 circleCenterI"
            else
              $bubble1 = "filledStar0 circleCenterI"
              $bubble2 = "filledStar1 circleCenter"
            end %>

        <div class="<%= $bubble1 %>"> 
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </div>
        <div class="<%= $bubble2 %>">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </div>
        <br>
        <br>
      </div>
      <div class="col-md-6">
        <% unless @cornellclass.recitationqual == 0 %> 
          Recitation Quality:<br> 
          <div class="progress">
            <div class="progress-bar-rating progress-bar" role="progressbar" style="width: <%= @cornellclass.recitationqual*20.0 %>%"> <%= @cornellclass.recitationqual %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-6">
        Lab Required:<br>
          <% if @cornellclass.labreqdyesno == true
              $bubble1 = "filledStar1 circleCenter"
              $bubble2 = "filledStar0 circleCenterI"
            else
              $bubble1 = "filledStar0 circleCenterI"
              $bubble2 = "filledStar1 circleCenter"
            end %>

        <div class="<%= $bubble1 %>"> 
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </div>
        <div class="<%= $bubble2 %>">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </div>
        <br>
        <br>
      </div>
      <div class="col-md-6">
        <% unless @cornellclass.labqual == 0 %> 
          Lab Quality:<br> 
          <div class="progress">
            <div class="progress-bar-rating progress-bar" role="progressbar" style="width: <%= @cornellclass.labqual*20.0 %>%"> <%= @cornellclass.labqual %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>