<div class="panel center">
  <h2>Course Details</h2>
</div>

<div class="panel-body">
  <div class="container-fluid">

    <% unless @cornellclass.materialdiff == 0 %>   
      <div class="row">
        <div class="col-md-6">
          Course Material Difficulty
          <p>
          <%    $count = 1 
          $i = @cornellclass.materialdiff
          while $count <= $i do %>    
            <div class="filledStar<%= $count %>">&nbsp</div>
            <% $count += 1 
          end 
          %>

          <% $difference = @cornellclass.materialdiff - @cornellclass.materialdiff.to_i
          if($difference >= 0.3 && $difference <= 0.7) 
            %>
            <div class="filledHalfL<%= $count %>"></div><div class="filledHalfR0"></div>
            <% $i = $i + 1
          end

          while $i < 5 do 
            %>
            <div class="filledStar0">&nbsp</div>
            <% $i += 1 
          end %>
          <br>
          <br>
          </p>
          </div>
      </div>

      <hr>
    <% end %>

    <div class="row">

      <% if @cornellclass.paperyesno == true %>
        <div class="col-lg col-md-6 col-sm-6 col-xs-12">
          Papers/Case Studies:<br>
                <% 
          if @cornellclass.paperyesno == true
            $bubble1 = "filledStar1 circleCenter"
            $bubble2 = "filledStar0 circleCenterI"
          else
            $bubble1 = "filledStar0 circleCenterI"
            $bubble2 = "filledStar1 circleCenter"
          end
          %>

          <div class="<%= $bubble1 %>"> 
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </div>
          <div class="<%= $bubble2 %>">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </div>
        </div>
        
        <div class="col-lg col-md-6 col-sm-6 col-xs-12">
          Paper Difficulty:<br>
          <div class="progress">                    
            <div class="progress-bar-rating progress-bar" role="progressbar" style="width: <%= @cornellclass.paperdiff*20.0 %>%"> <%= @cornellclass.paperdiff %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="col-md-12">
          Papers/Case Studies:<br>
                <% 
          if @cornellclass.paperyesno == true
            $bubble1 = "filledStar1 circleCenter"
            $bubble2 = "filledStar0 circleCenterI"
          else
            $bubble1 = "filledStar0 circleCenterI"
            $bubble2 = "filledStar1 circleCenter"
          end
          %>

          <div class="<%= $bubble1 %>"> 
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </div>
          <div class="<%= $bubble2 %>">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </div>
        </div>
      <% end %>
    </div> <!-- END ROW  -->    

    <hr>

    <div class="row">

      <% if @cornellclass.prelimyesno == true %>
        <div class="col-lg col-md-6 col-sm-6 col-xs-12">
          Preliminary Exams:<br>
                <% 
          if @cornellclass.prelimyesno == true
            $bubble1 = "filledStar1 circleCenter"
            $bubble2 = "filledStar0 circleCenterI"
          else
            $bubble1 = "filledStar0 circleCenterI"
            $bubble2 = "filledStar1 circleCenter"
          end
          %>

          <div class="<%= $bubble1 %>"> 
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </div>
          <div class="<%= $bubble2 %>">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </div>
        </div>
        
        <div class="col-lg col-md-6 col-sm-6 col-xs-12">
          Prelim Difficulty:<br>
          <div class="progress">                    
            <div class="progress-bar-rating progress-bar" role="progressbar" style="width: <%= @cornellclass.prelimdiff*20.0 %>%"> <%= @cornellclass.prelimdiff %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="col-md-12">
          Preliminary Exams:<br>
                <% 
          if @cornellclass.prelimyesno == true
            $bubble1 = "filledStar1 circleCenter"
            $bubble2 = "filledStar0 circleCenterI"
          else
            $bubble1 = "filledStar0 circleCenterI"
            $bubble2 = "filledStar1 circleCenter"
          end
          %>

          <div class="<%= $bubble1 %>"> 
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </div>
          <div class="<%= $bubble2 %>">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </div>
        </div>
      <% end %>
    </div> <!-- END ROW  -->    

    <hr>

    <div class="row">
      <% if @cornellclass.hwyesno == true %>
        <div class="col-lg col-md-6 col-sm-6 col-xs-12">
          Assignments:<br>
          <% if @cornellclass.hwyesno == true
            $bubble1 = "filledStar1 circleCenter"
            $bubble2 = "filledStar0 circleCenterI"
          else
            $bubble1 = "filledStar0 circleCenterI"
            $bubble2 = "filledStar1 circleCenter"
          end %>

          <div class="<%= $bubble1 %>"> 
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </div>
          <div class="<%= $bubble2 %>">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </div>
        </div>
        
        <div class="col-lg col-md-6 col-sm-6 col-xs-12">
          Assignment Difficulty:<br>
          <div class="progress">                    
            <div class="progress-bar-rating progress-bar" role="progressbar" style="width: <%= @cornellclass.hwdiff*20.0 %>%;"> <%= @cornellclass.hwdiff %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="col-md-12">
          Assignments:<br>
          <% if @cornellclass.hwyesno == true
            $bubble1 = "filledStar1 circleCenter"
            $bubble2 = "filledStar0 circleCenterI"
          else
            $bubble1 = "filledStar0 circleCenterI"
            $bubble2 = "filledStar1 circleCenter"
          end %>

          <div class="<%= $bubble1 %>"> 
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </div>
          <div class="<%= $bubble2 %>">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </div>
        </div>
      <% end %>
    </div> <!-- END ROW  -->

    <hr>

    <div class="row">
      <div class="col-lg col-md-6 col-sm-6 col-xs-12">
        Final Exam:<br>
        <% if @cornellclass.examyesno == true
          $bubble1 = "filledStar1 circleCenter"
          $bubble2 = "filledStar0 circleCenterI"
        else
          $bubble1 = "filledStar0 circleCenterI"
          $bubble2 = "filledStar1 circleCenter"
        end %>

        <div class="<%= $bubble1 %>"> 
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </div>
        <div class="<%= $bubble2 %>">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </div>
      </div>
                
      <div class="col-lg col-md-6 col-sm-6 col-xs-12">
        Final Project:<br>
        <% if @cornellclass.projyesno == true
          $bubble1 = "filledStar1 circleCenter"
          $bubble2 = "filledStar0 circleCenterI"
        else
          $bubble1 = "filledStar0 circleCenterI"
          $bubble2 = "filledStar1 circleCenter"
        end %>

        <div class="<%= $bubble1 %>"> 
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </div>
        <div class="<%= $bubble2 %>">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </div>
      </div>
    </div>
  
    

    <div class="row">
      <br><br>
      <div class="col-md-6">
              
        <% if @cornellclass.examyesno == true && @cornellclass.examyesno != 0 %>   
          Final Exam Difficulty:<br>
          <div class="progress">                    
            <div class="progress-bar-rating progress-bar" role="progressbar" style="width: <%= @cornellclass.examdiff*20.0 %>%;"> <%= @cornellclass.examdiff %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-6">

        <% if @cornellclass.projyesno == true && @cornellclass.projyesno != 0 %>   
          Final Project Difficulty:<br>
          <div class="progress">                    
            <div class="progress-bar-rating progress-bar" role="progressbar" style="width: <%= @cornellclass.projdiff*20.0 %>%;"> <%= @cornellclass.projdiff %>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>     <!-- END FLUID CONTAINER -->
</div>