<h1 class="center">Listing All Cornell Classes</h1>

<% if user_signed_in? && current_user.id == 1 %>
  <%= link_to 'Pull Classes from Cornell servers', new_cornellclass_path, class: "btn btn-warning btn-large" %>
<% end %>

<!-- Automatically paginates the team page -->
<div class="center">
   <%= will_paginate @cornellclasses, renderer: BootstrapPagination::Rails %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Prefix</th>
      <th>Number</th>
      <th>Instructor</th>
      <th>Avg Overall Rating</th>
      <th># Ratings</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cornellclasses.each do |cornellclass| %>
      <tr>
        <td><%= cornellclass.title %></td>
        <td><%= cornellclass.prefix %></td>
        <td><%= cornellclass.coursenumber %></td>
        <td><%= cornellclass.instructor %></td>
        <td><%= cornellclass.avgrating %></td>
        <td><%= cornellclass.numratings %></td>
        <td><%= link_to 'View', cornellclass %></td>
        <td><%= link_to 'Generic Rate Link', new_rating_path %></td>
        <!--
        <td><%= link_to 'Edit', edit_cornellclass_path(cornellclass) %></td>
        <td><%= link_to 'Destroy', cornellclass, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
      </tr>
    <% end %>
  </tbody>
</table>
