<h1 class="center">Listing Search Results</h1>



<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Prefix</th>
      <th>Number</th>
      <th>Instructor</th>
      <th>Class Nbr</th>
      <th>Avg Rating</th>
      <th># Ratings</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search_results.each do |cornellclass| %>
      <tr>
        <td><%= cornellclass.title %></td>
        <td><%= cornellclass.prefix %></td>
        <td><%= cornellclass.coursenumber %></td>
        <td><%= cornellclass.instructor %></td>
        <td><%= cornellclass.courseid %></td>
        <td><%= cornellclass.avgrating %></td>
        <td><%= cornellclass.numratings %></td>
        <!--
        <td><%= link_to 'Show', cornellclass %></td>
        <td><%= link_to 'Edit', edit_cornellclass_path(cornellclass) %></td>
        <td><%= link_to 'Destroy', cornellclass, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
      </tr>
    <% end %>
  </tbody>
</table>
