<p id="notice"><%= notice %></p>

<div class="panel panel-default">
      <div class="panel-heading">
            <h1 class="center">
                  <%= @cornellclass.prefix + " " + @cornellclass.coursenumber.to_s %>
            </h1>

            <h3 class="center">
                  <%= @cornellclass.title %>
            </h3>
      </div>
</div> 

<br>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>

<div class="panel-body">

      <div class="container">

            <div class="col-md-6 col-sm-6">

                  <p>
                  <strong>Course Number:</strong>
                  <%= @cornellclass.courseid %>
                  </p>

                  <p>
                  <strong><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Average Rating:</strong>
                        <% 
                        if @cornellclass.avgrating.present? 
                              $i = @cornellclass.avgrating 
                              $count = 1 
                        %>

                        <%    
                              while $count <= $i do %>    
                                    <div class="filledStar<%= $count %>">&nbsp</div>
                        <%          $count += 1 
                              end 
                        %>

                        <%    
                              while $i < 5 do 
                        %>
                                    <div class="filledStar0">&nbsp</div>
                        <%          $i += 1 
                              end %>
                              <br>
                              <br>
                        <% else %>
                        No ratings yet

                        <%
                        end
                        %>
                  </p>
                 <!--  
                  <div class="filledStar1">&nbsp</div>
                  <div class="filledStar2">&nbsp</div> 
                  <div class="filledStar3">&nbsp</div> 
                  <div class="filledStar4">&nbsp</div> 
                  <div class="filledStar5">&nbsp</div>
                  <div class="filledStar6"></div>
                  <div class="filledStar7"></div> -->
                  

                  <p>
                        <strong><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Number of Ratings:</strong>
                        <div class="filledStar1 circleCenter"> 
                              <%= 
                              if @cornellclass.numratings.present? 
                                    @cornellclass.numratings 
                              else 
                                    0 
                              end%> 
                        </div>
                  </p>

                  <br>
                  <br>

                  <p>
                        <strong>Homework:</strong>
                        <div class="filledStar1 circleCenter"> 
                              <% if @cornellclass.projyesno == true %>
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                              <% else %>
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                              <% end %>
                        </div>
                  </p>

                  <br>
                  <br>

                  <p>
                  <strong>Created at:</strong>
                  <%= @cornellclass.created_at %>
                  </p>

                  <p>
                  <strong>Updated at:</strong>
                  <%= @cornellclass.updated_at %>
                  </p>

                  <%= link_to 'Edit', edit_cornellclass_path(@cornellclass) %> |
                  <%= link_to 'Back', cornellclasses_path %>
                  
            </div>
      </div>
</div>