<p id="notice"><%= notice %></p>

<div class="panel panel-default">
      <div class="panel-heading">
            <h1 class="center">
                  <%= @cornellclass.prefix + " " + @cornellclass.coursenumber.to_s %>
            </h1>

            <h3 class="center">
                  <%= @cornellclass.title %>
            </h3>
      </div>
</div> 

<br>

<!--
<ul class="nav nav-tabs">
  <li role="presentation" id="overallLI"><a id="button0">At a glance</a></li>
  <li role="presentation" id="professorLI"><a id="button1">Professor</a></li>
  <li role="presentation" id="assignmentsLI"><a id="button2">Assignments</a></li>
</ul>
-->

<div class="panel-body">

      <div class="container">

            <div id="overall">
                  


                  <p>
                  <strong>Course Number:</strong>
                  <a class="btn btn-default" href="https://classes.cornell.edu/browse/roster/SP15/class/<%= @cornellclass.prefix.upcase %>/<%= @cornellclass.coursenumber.to_s %>" target="window" role="button"><%= @cornellclass.courseid %></a>
                  </p>
                  
                  <!-- ======================== Average Rating ======================== --> 

                  <p>
                  <strong><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Average Rating:</strong>
                        <% 
                        if @cornellclass.numratings.present? 
                              $i = @cornellclass.avgrating 
                              $count = 1 
                        %>

                        <%    
                              while $count <= $i do %>    
                                    <div class="filledStar<%= $count %>">&nbsp</div>
                        <%          $count += 1 
                              end 
                        %>

                        <%    
                              $difference = @cornellclass.avgrating - @cornellclass.avgrating.to_i
                              if($difference >= 0.3 && $difference <= 0.7) 
                        %>
                                    <div class="filledHalfL<%= $count %>"></div><div class="filledHalfR0"></div>
                                    <% $i = $i + 1;
                              end

                              while $i < 5 do 
                        %>
                                    <div class="filledStar0">&nbsp</div>
                        <%          $i += 1 
                              end %>
                              <br>
                              <br>
                  </p>

                  <!-- ======================== Number of Ratings ======================== -->      

                  <p>
                        <strong><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Number of Ratings:</strong>
                        <div class="filledStar1 circleCenter"> 
                              <%= 
                              if @cornellclass.numratings.present? 
                                    @cornellclass.numratings
                              else 
                                    0 
                              end%> 
                        </div>
                  </p>

                  <br>
                  <br>

                  <!-- ======================== Homework Yes or No ======================== -->      

                  <p>
                        <strong>Homework:</strong>

                        <% 
                        if @cornellclass.hwyesno == true
                              $bubble1 = "filledStar1 circleCenter"
                              $bubble2 = "filledStar0 circleCenterI"
                        else
                              $bubble1 = "filledStar0 circleCenterI"
                              $bubble2 = "filledStar1 circleCenter"
                        end
                        %>

                        <div class="<%= $bubble1 %>"> 
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </div>
                        <div class="<%= $bubble2 %>">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </div>
                  </p>

                  <br>
                  <br>

                  <!-- ======================== HW Difficulty ======================== -->

                  <% if @cornellclass.hwyesno == true &&  @cornellclass.hwdiff != 0 %>   
                  <p>
                  <strong>Homework Difficulty:</strong>

                        <%    $count = 1 
                              $i = @cornellclass.hwdiff
                              while $count <= $i do %>    
                                    <div class="filledStar<%= $count %>">&nbsp</div>
                        <%          $count += 1 
                              end 
                        %>

                        <%    
                              $difference = @cornellclass.hwdiff - @cornellclass.hwdiff.to_i
                              if($difference >= 0.3 && $difference <= 0.7) 
                        %>
                                    <div class="filledHalfL<%= $count %>"></div><div class="filledHalfR0"></div>
                                    <% $i = $i + 1;
                              end

                              while $i < 5 do 
                        %>
                                    <div class="filledStar0">&nbsp</div>
                        <%          $i += 1 
                              end %>
                              <br>
                              <br>
                  </p>
                  <% end %>
                        
                  <!-- ======================== Prelim Yes or No ======================== -->      

                  <p>
                        <strong>Prelims:</strong>

                        <% 
                        if @cornellclass.prelimyesno == true
                              $bubble1 = "filledStar1 circleCenter"
                              $bubble2 = "filledStar0 circleCenterI"
                        else
                              $bubble1 = "filledStar0 circleCenterI"
                              $bubble2 = "filledStar1 circleCenter"
                        end
                        %>

                        <div class="<%= $bubble1 %>"> 
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </div>
                        <div class="<%= $bubble2 %>">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </div>
                  </p>

                  <br>
                  <br>

                  <!-- ======================== Lecture Required ======================== -->      

                  <p>
                        <strong>Lecture Required:</strong>

                        <% 
                        if @cornellclass.lecturereqdyesno == true
                              $bubble1 = "filledStar1 circleCenter"
                              $bubble2 = "filledStar0 circleCenterI"
                        else
                              $bubble1 = "filledStar0 circleCenterI"
                              $bubble2 = "filledStar1 circleCenter"
                        end
                        %>

                        <div class="<%= $bubble1 %>"> 
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </div>
                        <div class="<%= $bubble2 %>">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </div>
                  </p>

                  <!-- ======================== Professor ======================== -->      

                  <br>
                  <br>

                  <p>
                  <strong>Instructor:</strong>
                  <%= @cornellclass.instructor %>
                  </p>

                  <!-- ======================== Professor Quality ======================== -->      
                  
                  <p>
                  <strong>Professor Quality:</strong>

                        <%    $count = 1 
                              $i = @cornellclass.profqual
                              while $count <= $i do %>    
                                    <div class="filledStar<%= $count %>">&nbsp</div>
                        <%          $count += 1 
                              end 
                        %>

                        <%    
                              $difference = @cornellclass.profqual - @cornellclass.profqual.to_i
                              if($difference >= 0.3 && $difference <= 0.7) 
                        %>
                                    <div class="filledHalfL<%= $count %>"></div><div class="filledHalfR0"></div>
                                    <% $i = $i + 1;
                              end

                              while $i < 5 do 
                        %>
                                    <div class="filledStar0">&nbsp</div>
                        <%          $i += 1 
                              end %>
                              <br>
                              <br>
                  </p>

                  <!-- ======================== TA Quality ======================== --> 

                  <% unless @cornellclass.taqual == 0 %>   
                  <p>
                  <strong>TA Quality:</strong>

                        <%    $count = 1 
                              $i = @cornellclass.taqual
                              while $count <= $i do %>    
                                    <div class="filledStar<%= $count %>">&nbsp</div>
                        <%          $count += 1 
                              end 
                        %>

                        <%    
                              $difference = @cornellclass.taqual - @cornellclass.taqual.to_i
                              if($difference >= 0.3 && $difference <= 0.7) 
                        %>
                                    <div class="filledHalfL<%= $count %>"></div><div class="filledHalfR0"></div>
                                    <% $i = $i + 1;
                              end

                              while $i < 5 do 
                        %>
                                    <div class="filledStar0">&nbsp</div>
                        <%          $i += 1 
                              end %>
                              <br>
                              <br>
                  </p>
                  <% end %>

                  <!-- ======================== Lecture Quality ======================== -->

                  <% unless @cornellclass.lecturequal == 0 %>   
                  <p>
                  <strong>Lecture Quality:</strong>

                        <%    $count = 1 
                              $i = @cornellclass.lecturequal
                              while $count <= $i do %>    
                                    <div class="filledStar<%= $count %>">&nbsp</div>
                        <%          $count += 1 
                              end 
                        %>

                        <%    
                              $difference = @cornellclass.lecturequal - @cornellclass.lecturequal.to_i
                              if($difference >= 0.3 && $difference <= 0.7) 
                        %>
                                    <div class="filledHalfL<%= $count %>"></div><div class="filledHalfR0"></div>
                                    <% $i = $i + 1;
                              end

                              while $i < 5 do 
                        %>
                                    <div class="filledStar0">&nbsp</div>
                        <%          $i += 1 
                              end %>
                              <br>
                              <br>
                  </p>
                  <% end %>

                  <!-- ======================== Recitation Required ======================== -->      

                  <p>
                        <strong>Recitation Required:</strong>

                        <% 
                        if @cornellclass.recitationreqdyesno == true
                              $bubble1 = "filledStar1 circleCenter"
                              $bubble2 = "filledStar0 circleCenterI"
                        else
                              $bubble1 = "filledStar0 circleCenterI"
                              $bubble2 = "filledStar1 circleCenter"
                        end
                        %>

                        <div class="<%= $bubble1 %>"> 
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </div>
                        <div class="<%= $bubble2 %>">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </div>
                  </p>

                  <br>
                  <br>

                  <!-- ======================== Recitation Quality ======================== -->

                  <% unless @cornellclass.recitationqual == 0 %>   
                  <p>
                  <strong>Recitation Quality:</strong>

                        <%    $count = 1 
                              $i = @cornellclass.recitationqual
                              while $count <= $i do %>    
                                    <div class="filledStar<%= $count %>">&nbsp</div>
                        <%          $count += 1 
                              end 
                        %>

                        <%    
                              $difference = @cornellclass.recitationqual - @cornellclass.recitationqual.to_i
                              if($difference >= 0.3 && $difference <= 0.7) 
                        %>
                                    <div class="filledHalfL<%= $count %>"></div><div class="filledHalfR0"></div>
                                    <% $i = $i + 1;
                              end

                              while $i < 5 do 
                        %>
                                    <div class="filledStar0">&nbsp</div>
                        <%          $i += 1 
                              end %>
                              <br>
                              <br>
                  </p>
                  <% end %>

                  <!-- ======================== Material Difficulty ======================== -->

                  <% unless @cornellclass.materialdiff == 0 %>   
                  <p>
                  <strong>Material Difficulty:</strong>

                        <%    $count = 1 
                              $i = @cornellclass.materialdiff
                              while $count <= $i do %>    
                                    <div class="filledStar<%= $count %>">&nbsp</div>
                        <%          $count += 1 
                              end 
                        %>

                        <%    
                              $difference = @cornellclass.materialdiff - @cornellclass.materialdiff.to_i
                              if($difference >= 0.3 && $difference <= 0.7) 
                        %>
                                    <div class="filledHalfL<%= $count %>"></div><div class="filledHalfR0"></div>
                                    <% $i = $i + 1;
                              end

                              while $i < 5 do 
                        %>
                                    <div class="filledStar0">&nbsp</div>
                        <%          $i += 1 
                              end %>
                              <br>
                              <br>
                  </p>
                  <% end %>

                  <!-- ======================== Project Required ======================== -->      
                  
                  <p>
                        <strong>Projects:</strong>

                        <% 
                        if @cornellclass.projyesno == true
                              $bubble1 = "filledStar1 circleCenter"
                              $bubble2 = "filledStar0 circleCenterI"
                        else
                              $bubble1 = "filledStar0 circleCenterI"
                              $bubble2 = "filledStar1 circleCenter"
                        end
                        %>

                        <div class="<%= $bubble1 %>"> 
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </div>
                        <div class="<%= $bubble2 %>">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </div>
                  </p>

                  <br>
                  <br>

                  <!-- ======================== Project Difficulty ======================== -->
                  
                  <% if @cornellclass.projyesno == true && @cornellclass.projyesno != 0 %>   
                  <p>
                  <strong>Project Difficulty:</strong>

                        <%    $count = 1 
                              $i = @cornellclass.projdiff
                              while $count <= $i do %>    
                                    <div class="filledStar<%= $count %>">&nbsp</div>
                        <%          $count += 1 
                              end 
                        %>

                        <%    
                              $difference = @cornellclass.projdiff - @cornellclass.projdiff.to_i
                              if($difference >= 0.3 && $difference <= 0.7) 
                        %>
                                    <div class="filledHalfL<%= $count %>"></div><div class="filledHalfR0"></div>
                                    <% $i = $i + 1;
                              end

                              while $i < 5 do 
                        %>
                                    <div class="filledStar0">&nbsp</div>
                        <%          $i += 1 
                              end %>
                              <br>
                              <br>
                  </p>
                  <% end %>
                     
                  <!-- ======================== Prelim Difficulty ======================== -->

                  <% if @cornellclass.prelimyesno == true &&  @cornellclass.prelimdiff != 0 %>   
                  <p>
                  <strong>Prelim Difficulty:</strong>

                        <%    $count = 1 
                              $i = @cornellclass.prelimdiff
                              while $count <= $i do %>    
                                    <div class="filledStar<%= $count %>">&nbsp</div>
                        <%          $count += 1 
                              end 
                        %>

                        <%    
                              $difference = @cornellclass.prelimdiff - @cornellclass.prelimdiff.to_i
                              if($difference >= 0.3 && $difference <= 0.7) 
                        %>
                                    <div class="filledHalfL<%= $count %>"></div><div class="filledHalfR0"></div>
                                    <% $i = $i + 1;
                              end

                              while $i < 5 do 
                        %>
                                    <div class="filledStar0">&nbsp</div>
                        <%          $i += 1 
                              end %>
                              <br>
                              <br>
                  </p>
                  <% end %>

                  <!-- ======================== Final Exam Required ======================== -->      
                  
                  <p>
                        <strong>Final Exam Required:</strong>

                        <% 
                        if @cornellclass.examyesno == true
                              $bubble1 = "filledStar1 circleCenter"
                              $bubble2 = "filledStar0 circleCenterI"
                        else
                              $bubble1 = "filledStar0 circleCenterI"
                              $bubble2 = "filledStar1 circleCenter"
                        end
                        %>

                        <div class="<%= $bubble1 %>"> 
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </div>
                        <div class="<%= $bubble2 %>">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </div>
                  </p>

                  <br>
                  <br>

                  <!-- ======================== Final Exam Difficulty ======================== -->

                  <% if @cornellclass.examyesno == true &&  @cornellclass.examdiff != 0 %>   
                  <p>
                  <strong>Final Exam Difficulty:</strong>

                        <%    $count = 1 
                              $i = @cornellclass.examdiff
                              while $count <= $i do %>    
                                    <div class="filledStar<%= $count %>">&nbsp</div>
                        <%          $count += 1 
                              end 
                        %>

                        <%    
                              $difference = @cornellclass.examdiff - @cornellclass.examdiff.to_i
                              if($difference >= 0.3 && $difference <= 0.7) 
                        %>
                                    <div class="filledHalfL<%= $count %>"></div><div class="filledHalfR0"></div>
                                    <% $i = $i + 1;
                              end

                              while $i < 5 do 
                        %>
                                    <div class="filledStar0">&nbsp</div>
                        <%          $i += 1 
                              end %>
                              <br>
                              <br>
                  </p>
                  <% end %>

                  <!-- Semester -->

                  <p>Semester: <%= @cornellclass.semester %></p>


                  <!--
                  <%= @cornellclass.instructor %>
                  <%= @cornellclass.profqual %>
                  <%= @cornellclass.taqual %>
                  <%= @cornellclass.lecturequal %>
                  <%= @cornellclass.recitationqual %>
                  <%= @cornellclass.recitationreqdyesno %>
                  <%= @cornellclass.hwdiff %>
                  <%= @cornellclass.examdiff %>
                  <%= @cornellclass.examyesno %>
                  <%= @cornellclass.lecturereqdyesno %>
                  <%= @cornellclass.materialdiff %>
                  <%= @cornellclass.projyesno %>
                  <%= @cornellclass.projdiff %>
                  <%= @cornellclass.prelimdiff %>
                  <%= @cornellclass.semester %>
                  -->

                  <br>
                  <br>

                  <% if user_signed_in? && current_user.id == 1 %>
                        <%= link_to 'Edit', edit_cornellclass_path(@cornellclass) %> |
                        <%= link_to 'Back', cornellclasses_path %>
                  <% end %>
                  
            </div>


  


                  <% else %>
                        No ratings yet

                  <% end %>
            
      </div>
</div>