<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="center">
      <%= @cornellclass.prefix + " " + @cornellclass.coursenumber.to_s %>
    </h1>

    <h3 class="center">
      <%= @cornellclass.title %>
    </h3>
    
    <% if @cornellclass.numratings.present? %>
      <div class="center">
        <%= link_to "Rate", new_rating_path, class: "btn btn-success btn-classrate" %>
      </div>
    <% end %>
  </div>
</div> 

<br>

<!--
<ul class="nav nav-tabs">
  <li role="presentation" id="overallLI"><a id="button0">At a glance</a></li>
  <li role="presentation" id="professorLI"><a id="button1">Professor</a></li>
  <li role="presentation" id="assignmentsLI"><a id="button2">Assignments</a></li>
</ul>
-->




<% if @cornellclass.numratings.present? %>

  <div id="overall-classes" class="transitions-enabled">
    
    
    <!-- Semester -->  
    <div class="ratingBox panel panel-default">
      <%= render 'cornellclasses/box1' %>          
    </div>

    <div class="ratingBox panel panel-default">
      <%= render 'cornellclasses/box2' %>
    </div>
    
    <div class="ratingBox panel panel-default">
      <%= render 'cornellclasses/box3' %>     
    </div>

    <% if @cornellclass.showratings.where("moretosay <> ''").count > 0 %>
      <div class="ratingBox panel panel-default" style="width: 100%;">
        <%= render 'cornellclasses/box4' %>     
      </div>
    <% end %>


  </div>            

  <br>
  <br>

  <% if user_signed_in? && current_user.id == 1 %>
    <%= link_to 'Edit', edit_cornellclass_path(@cornellclass) %> |
    <%= link_to 'Back', cornellclasses_path %>
  <% end %>

<% else %>
  <h1 class="center">
    <p>
      No ratings for <%= @cornellclass.prefix + " " + @cornellclass.coursenumber.to_s %> yet! :(
    </p>
    <p>
       <%= link_to "Rate Me!", new_rating_path, class: "btn btn-default" %>
    </p>
  </h1>
<% end %>

  