<p id="notice"><%= notice %></p>

<div class="panel panel-default">
      <div class="panel-heading">
            <h1 class="center">
                  <%= @cornellclass.prefix + " " + @cornellclass.coursenumber.to_s %>
            </h1>

            <h3 class="center">
                  <%= @cornellclass.title %>
            </h3>
      </div>
</div> 

<br>

<ul class="nav nav-tabs">
  <li role="presentation" id="overallLI"><a id="button0">At a glance</a></li>
  <li role="presentation" id="professorLI"><a id="button1">Professor</a></li>
  <li role="presentation" id="assignmentsLI"><a id="button2">Assignments</a></li>
</ul>

<div class="panel-body">

      <div class="container">

            <div id="overall">
                  
                  <p>
                  <strong>Course Number:</strong>
                  <a class="btn btn-default" href="https://classes.cornell.edu/browse/roster/SP15/class/<%= @cornellclass.prefix.upcase %>/<%= @cornellclass.coursenumber.to_s %>" target="window" role="button"><%= @cornellclass.courseid %></a>
                  </p>

                  <p>
                  <strong><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Average Rating:</strong>
                        <% 
                        if @cornellclass.numratings.present? 
                              $i = @cornellclass.avgrating 
                              $count = 1 
                        %>

                        <%    
                              while $count <= $i do %>    
                                    <div class="filledStar<%= $count %>">&nbsp</div>
                        <%          $count += 1 
                              end 
                        %>

                        <%    
                              $difference = @cornellclass.avgrating - @cornellclass.avgrating.to_i
                              if($difference >= 0.3 && $difference <= 0.7) 
                        %>
                                    <div class="filledHalfL<%= $count %>"></div><div class="filledHalfR0"></div>
                                    <% $i = $i + 1;
                              end

                              while $i < 5 do 
                        %>
                                    <div class="filledStar0">&nbsp</div>
                        <%          $i += 1 
                              end %>
                              <br>
                              <br>
                        
                  </p>
                 
                  <p>
                        <strong><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Number of Ratings:</strong>
                        <div class="filledStar1 circleCenter"> 
                              <%= 
                              if @cornellclass.numratings.present? 
                                    @cornellclass.numratings
                              else 
                                    0 
                              end%> 
                        </div>
                  </p>

                  <br>
                  <br>

                  <p>
                        <strong>Homework:</strong>

                        <% 
                        if @cornellclass.hwyesno == true
                              $bubble1 = "filledStar1 circleCenter"
                              $bubble2 = "filledStar0 circleCenterI"
                        else
                              $bubble1 = "filledStar0 circleCenterI"
                              $bubble2 = "filledStar1 circleCenter"
                        end
                        %>

                        <div class="<%= $bubble1 %>"> 
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </div>
                        <div class="<%= $bubble2 %>">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </div>
                  </p>

                  <br>
                  <br>

                  <p>
                        <strong>Prelims:</strong>

                        <% 
                        if @cornellclass.prelimyesno == true
                              $bubble1 = "filledStar1 circleCenter"
                              $bubble2 = "filledStar0 circleCenterI"
                        else
                              $bubble1 = "filledStar0 circleCenterI"
                              $bubble2 = "filledStar1 circleCenter"
                        end
                        %>

                        <div class="<%= $bubble1 %>"> 
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </div>
                        <div class="<%= $bubble2 %>">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </div>
                  </p>

                  <br>
                  <br>

                  <p>
                        <strong>Lecture Required:</strong>

                        <% 
                        if @cornellclass.lecturereqdyesno == true
                              $bubble1 = "filledStar1 circleCenter"
                              $bubble2 = "filledStar0 circleCenterI"
                        else
                              $bubble1 = "filledStar0 circleCenterI"
                              $bubble2 = "filledStar1 circleCenter"
                        end
                        %>

                        <div class="<%= $bubble1 %>"> 
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </div>
                        <div class="<%= $bubble2 %>">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </div>

                        
                  </p>


                  <!--
                  <%= @cornellclass.instructor %>
                  <%= @cornellclass.profqual %>
                  <%= @cornellclass.taqual %>
                  <%= @cornellclass.lecturequal %>
                  <%= @cornellclass.recitationqual %>
                  <%= @cornellclass.recitationreqdyesno %>
                  <%= @cornellclass.hwdiff %>
                  <%= @cornellclass.examdiff %>
                  <%= @cornellclass.examyesno %>
                  <%= @cornellclass.lecturereqdyesno %>
                  <%= @cornellclass.materialdiff %>
                  <%= @cornellclass.projyesno %>
                  <%= @cornellclass.projdiff %>
                  <%= @cornellclass.prelimdiff %>
                  <%= @cornellclass.semester %>
                  -->

                  <br>
                  <br>

                  <% if user_signed_in? && current_user.id == 1 %>
                        <%= link_to 'Edit', edit_cornellclass_path(@cornellclass) %> |
                        <%= link_to 'Back', cornellclasses_path %>
                  <% end %>
                  
            </div>

            <div id="professor">
                  <p>
                        <strong>Professor</strong>
                        <%= @cornellclass.instructor %>
                  </p>

                  <p></p>
            </div>


            <div id="assignments">


                  <% else %>
                        No ratings yet

                  <% end %>
            </div>
      </div>
</div>