<nav class="navbar navbar-default">
  <div class="container">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Pearl", root_path, class: "navbar-brand" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
        <!-- Right-hand permanent nav links -->          
        <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to root_path do %>
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                Home
              <% end %>
            </li>
            <li>
              <%= link_to teammembers_path do %>
                <span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>
                Team
              <% end %>
            </li>
          <!-- Right-hand logical nav links -->
          <% if user_signed_in? %>

            <li>
              <%= link_to cornellclasses_path do %>
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                All Classes
              <% end %>
            </li>

            <li>
              <%= link_to new_rating_path do %>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                Rate Class
              <% end %>
            </li>

            <!-- Dropdown menu for account settings/logout -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <% if user_signed_in? %> 
                  <%= current_user.name %>
                <% else %>
                  Accounts
                <% end %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <%= link_to userratings_path do %>
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    Your Ratings
                  <% end %>
                </li>                
                <li class="divider"></li>
                <li>
                  <%= link_to edit_user_registration_path do %>
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    Settings
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    Log Out
                  <% end %>
                </li>                
              </ul>
            </li>
          <% else %>
            <li>
              <%= link_to new_user_session_path do %>
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                Log In
              <% end %>
            </li>            
          <% end %>            
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </div>
</nav>