<!-- Copyright Charlie Xu 2015 -->
<!-- Pearl Courses was developed by -->
<!-- Charlie Xu, Alex Liow, Linda Gao in 2014 -->

<!DOCTYPE html>
<html>
<head>
  <title>Pearl</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'https://s3.amazonaws.com/pearlcourses/favicon.png' %>
  <link rel="apple-touch-icon" href="https://s3.amazonaws.com/pearlcourses/iphonecon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<%= render 'layouts/header' %>
	
	<div class="container">

	<!-- Required for Devise flash notification -->
	<% flash.each do |name, msg| %>
		<%= content_tag(:div, msg, class: "alert alert-info") %>
	<% end %>

		<%= yield %>
		
	</div>

</body>
</html>
